/*SPLASH*/
.splash{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #246F3B 19.41%, #84C040 71.91%, #64B245 100%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all .5s ease;
    animation: splashanim .5s ease;
}

.splash svg{
    max-width: 70vmin;
}

@keyframes splashanim{
    from {
        gap: 40vh;
    }
    
    to {
        gap: 10vh;
    }
}

/*MAIN*/
main{
    max-width: 90%;
    overflow: hidden;
    background-color: #d2d2d2;
    background-image: url('./imgs/carta.webp');
    background-size: cover;
    border-radius: 0 600px 0 0;
    box-shadow: -11px 12px 11.9px 0px rgba(0, 0, 0, 0.38) inset;
}

h2{
    font-family: 'Cocogoose';
    font-weight: 400;
    font-size: 40px;

}

.prodotti, .storia, header{
    width: 100%;
    min-height: 100vh;
    background: transparent;
}
/*HEADER*/

header{
    display: grid;
    place-content: center;
    background-color: #ffffff;
    box-shadow: 0px 9px 9.3px 7px rgba(0, 0, 0, 0.25);
}

#lucchesi{
    max-width: 40vw;
    z-index: 10;
}

.limone{
    position: absolute;
    width: 40%;
    top: 50%;
    left: 0;
    transition: top .5s ease;
    transform: translate(-50%, -50%);
}

.limone-sm{
    position: absolute;
    top: 110vh;
    left: 100%;
    width: 14%;
    transform: translate(-100%, -50%);
}

.limone-pr{
    position: absolute;
    top: 200vh;
    left: 0;
    width: 10%;
    z-index: 1;
    transform: scaleX(-1) translateY(-60%);
}

#ramo-limoni{
    position: absolute;
    max-width: 93.4%;
    left: 0;
}

.marchio{
    position: absolute;
    width: 120px;
    top: 20vh;
    left: 85vw;
}

.storia, .chisiamo{
    scroll-margin: 6vh;
}
.prodotti{
    scroll-margin: 10vh;
    
}

/*STORIA, CHI SIAMO*/

.storia, .chisiamo{
    max-width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    place-content: center;
    font-family: 'Poppins';
    color: #1C6633;
}

.storia h2, .chisiamo h2{
    margin-bottom: 30px;
    font-weight: 400;
}

.storia p, .chisiamo p{
    font-size: 12px;
    font-family: 'Poppins';
}

.storia-text{
    transform: translateY(-50px);
}

#foto-storia{
    max-width: 100%;
    transition: all 1s;
    transform: translateX(-10%);
    opacity: 0;
}

#mano-albero{
    max-width: 100%;
    position: relative;
    left: -10vw;
}

.is-visible{
    opacity: 1 !important;
}

/*PRODOTTI*/

.prodotti-text{
    color: #1C6633;
    max-width: 70%;
    margin: auto;
}

.prodotti h2{
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
}

.prodotti h3{
    font-family: 'Cocogoose';
    font-weight: 300;
    font-size: 28px;
}

.prodotti p{
    font-family: 'Poppins';
    color: #1C6633;
}

.products-section{
    width: 80%;
    margin: 4% auto;
    margin-bottom: 16vh;
    display: flex;
    flex-direction: column;
    gap: 16vh;
}

.product-row{
    width: 100%;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    justify-content: start;
    padding: 0 4vw;
    gap: 2vw;
}

.product-row .codice{
    font-size: 16px;
    white-space: nowrap;
}

.switched{
    flex-flow: row-reverse;
    justify-content: flex-start;
}

/*card*/



/*FOOTER*/
#mappa{
    position: relative;
    left: 40%;
    top: 100px;
    width: 600px;
    height: 50vh;
}

#template-phone {
    position: relative;
    width: 100%;
    transform: translateY(20px);
  }

@media(max-width: 768px){
    .marchio{
        width: 50px;
    }

    .limone{
        top: 10%;
        width: 70%;
    }

    .limone-sm, .limone-pr{
        display: none;
    }

    #ramo-limoni{
        display: none;
    }

    #lucchesi{
        max-width: 80%;
        margin: 0 auto;
    }

    main{
        display: flex;
        flex-direction: column;
        border-radius: 0 1000px 0 0;
    }
    header{
        height: 100vh;
        place-content: center;
    }
    .storia, .chisiamo{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 10vh;
    }

    .storia-text{
        transform: translate(0px);
        margin-bottom: 20%;
    }

    .card-front{
        height: fit-content;
    }

    .prodotti h2{
        margin-bottom: 4vh;
    }

    .card-front h4{
        font-size: 25px;
        line-height: 26px;
    }

    .card-front p{
        font-size: 10px;
    }

    .prodotti-text{
        margin-bottom: 4vh;
    }

    .prodotti-text h2{
        font-size: 40px;
    }

    .products-section{
        gap: 6vh;
    }

    .product-row, .switched{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3vh;
        justify-content: center;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    #mappa{
        width: 100%;
        position: static;
        padding: 10vw;
    }
}
