main{
    max-width: 90%;
    background-color: #d2d2d2;
    background-image: url('./imgs/carta.webp');
    background-size: cover;
    border-radius: 0 600px 0 0;
    box-shadow: -11px 12px 11.9px 0px rgba(0, 0, 0, 0.38) inset;
}

h2{
    font-family: 'Caveat';
    font-weight: 700;
    font-size: 50px;
}

.prodotti, .storia, header{
    width: 100%;
    min-height: 100vh;
    background: transparent;
}
/*HEADER*/

header{
    display: grid;
    place-content: center;
}

#lucchesi{
    max-width: 40vw;
    z-index: 10;
}

.limone{
    position: absolute;
    width: 40%;
    top: 50%;
    left: 0;
    transition: top .5s ease;
    transform: translate(-50%, -50%);
}

.limone-sm{
    position: absolute;
    top: 110vh;
    left: 100%;
    width: 14%;
    transform: translate(-100%, -50%);
}

.limone-pr{
    position: absolute;
    top: 200vh;
    left: 0;
    width: 10%;
    z-index: 1;
    transform: rotate(180deg) translateY(60%);
}

.marchio{
    position: absolute;
    width: 120px;
    top: 20vh;
    left: 85vw;
}

/*STORIA*/

.storia{
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    place-content: center;
    font-family: 'Poppins';
    color: #1C6633;
}

.storia h2{
    margin-bottom: 30px;
}

.storia p{
    font-size: 12px;
    font-family: 'Poppins';
}

.storia-text{
    transform: translateY(-50px);
}

#foto-storia{
    max-width: 100%;
    transform: translateX(-10%);
}

/*PRODOTTI*/

.prodotti-text{
    color: #1C6633;
    max-width: 70%;
    margin: auto;
}

.prodotti h2{
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
}

.prodotti h3{
    font-family: 'Caveat';
    font-size: 35px;
    line-height: 60px;
}

.prodotti p{
    font-family: 'Poppins';
    font-size: 14px;
    width: 100%;
}

.products-section{
    width: 80%;
    margin: 4% auto;
    margin-bottom: 10%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill, 45%);
    row-gap: 15vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    height: fit-content;
    border-radius: 20px;
    background: linear-gradient(#FFF 0.31%, rgba(217, 217, 217, 0.00) 17.7%);
    box-shadow: 0px 9px 9.3px 7px rgba(0, 0, 0, 0.25);
    transition: box-shadow .2s;
    cursor: pointer;
}

.card .info{
    width: 100%;
    padding: 1.5em;
    padding-bottom: 2.2em;
    border-radius: 20px;
    color: #1C6633;
    display: flex;
    flex-direction: column;
}

.card h4{
    font-size: 1.8em;
    line-height: 31px;
    font-weight: bold;
    font-family: 'caveat';
    margin-bottom: 4%;
}

.card p{
    font-size: 12px;
    line-height: 1.5em;
}

.product-pic{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.product-pic img{
    max-width: 80%;
    margin: auto;
    transform: translateY(20px);
    transition: transform .2s;
}

.card:hover{
    box-shadow: 0px 5px 9.3px 7px rgba(0, 0, 0, 0.41);
}

.card:hover img{
    transform: translateY(10px);
}

.card:checked{
    background-color: red;
}

/*FOOTER*/

.footer{
    position: relative;
    width: 100%;
    height: 40vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(180deg, #268A42 36.91%, #1D6533 100%);
    box-shadow: 0px -6px 15px 2px rgba(0, 0, 0, 0.46);
}

.footer p{
    font-family: 'Poppins';
    text-align: center;
}

#lucchesi-footer{
    font-family: 'Caveat';
}

.socials{
    height: 30px;
}

.socials img{
    height: 100%;
    margin: 0 10px;
    cursor: pointer;
    transition: transform .2s;
}

.socials img:hover{
    transform: translateY(-3px) scale(110%);
}

#template-phone{
    position: relative;
    width: 100%;
    transform: translateY(10px);
}

@media(max-width: 768px){
    .marchio{
        width: 50px;
    }

    .limone{
        top: 10%;
        width: 70%;
    }

    .limone-sm{
        width: 30%;
        top: 100vh;
    }

    #lucchesi{
        max-width: 80%;
        margin: 0 auto;
    }

    main{
        display: flex;
        flex-direction: column;
        border-radius: 0 1000px 0 0;
    }
    header{
        height: 100vh;
        place-content: center;
    }
    .storia{
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;
    }

    .storia-text{
        transform: translate(0px);
        margin-top: 10%;
    }

    .footer{
        font-size: 10px;
        flex-direction: column;
        height: 25vh;
        justify-content: space-around;
        padding: 10% 0;
    }

    .socials{
        height: 30px;
    }

    .card{
        height: fit-content;
    }

    .prodotti h2{
        margin-bottom: 4vh;
    }

    .card h4{
        font-size: 25px;
        line-height: 26px;
    }

    .card p{
        font-size: 10px;
    }

    .prodotti-text{
        margin-bottom: 4vh;
    }

    .products-section{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 6vh;
    }
}